<h1>Listing semi_product_exchanges</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Inventory</th>
    <th>Semi product</th>
    <th>Weight unit</th>
    <th>Size</th>
    <th>Reason</th>
    <th>Created date</th>
    <th>Created by</th>
    <th>Description</th>
  </tr>

<% @semi_product_exchanges.each do |semi_product_exchange| %>
  <tr>
    <td><%=h semi_product_exchange.type %></td>
    <td><%=h semi_product_exchange.inventory_id %></td>
    <td><%=h semi_product_exchange.semi_product_id %></td>
    <td><%=h semi_product_exchange.weight_unit_id %></td>
    <td><%=h semi_product_exchange.size %></td>
    <td><%=h semi_product_exchange.reason %></td>
    <td><%=h semi_product_exchange.created_date %></td>
    <td><%=h semi_product_exchange.created_by %></td>
    <td><%=h semi_product_exchange.description %></td>
    <td><%= link_to 'Show', semi_product_exchange %></td>
    <td><%= link_to 'Edit', edit_semi_product_exchange_path(semi_product_exchange) %></td>
    <td><%= link_to 'Destroy', semi_product_exchange, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New semi_product_exchange', new_semi_product_exchange_path %>