<p>
  <b>Type:</b>
  <%=h @semi_product_exchange.type %>
</p>

<p>
  <b>Inventory:</b>
  <%=h @semi_product_exchange.inventory_id %>
</p>

<p>
  <b>Semi product:</b>
  <%=h @semi_product_exchange.semi_product_id %>
</p>

<p>
  <b>Weight unit:</b>
  <%=h @semi_product_exchange.weight_unit_id %>
</p>

<p>
  <b>Size:</b>
  <%=h @semi_product_exchange.size %>
</p>

<p>
  <b>Reason:</b>
  <%=h @semi_product_exchange.reason %>
</p>

<p>
  <b>Created date:</b>
  <%=h @semi_product_exchange.created_date %>
</p>

<p>
  <b>Created by:</b>
  <%=h @semi_product_exchange.created_by %>
</p>

<p>
  <b>Description:</b>
  <%=h @semi_product_exchange.description %>
</p>


<%= link_to 'Edit', edit_semi_product_exchange_path(@semi_product_exchange) %> |
<%= link_to 'Back', semi_product_exchanges_path %>