<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Hash password</th>
    <th>Salt</th>
    <th>Fullname</th>
    <th>Position</th>
    <th>Sex</th>
    <th>Email</th>
    <th>Is admin</th>
    <th>Is blocked</th>
    <th>Can not delete</th>
    <th>Mobile phone</th>
    <th>Address</th>
    <th>Description</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.hash_password %></td>
    <td><%=h user.salt %></td>
    <td><%=h user.fullname %></td>
    <td><%=h user.position_id %></td>
    <td><%=h user.sex %></td>
    <td><%=h user.email %></td>
    <td><%=h user.is_admin %></td>
    <td><%=h user.is_blocked %></td>
    <td><%=h user.can_not_delete %></td>
    <td><%=h user.mobile_phone %></td>
    <td><%=h user.address %></td>
    <td><%=h user.description %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>