<p>
  <b>Code:</b>
  <%=h @material_type.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @material_type.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @material_type.description %>
</p>


<%= link_to 'Edit', edit_material_type_path(@material_type) %> |
<%= link_to 'Back', material_types_path %>