<h1>Editing inventory_detail</h1>

<% form_for(@inventory_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :inventory_id %><br />
    <%= f.text_field :inventory_id %>
  </p>
  <p>
    <%= f.label :storage_type %><br />
    <%= f.text_field :storage_type %>
  </p>
  <p>
    <%= f.label :storage_id %><br />
    <%= f.text_field :storage_id %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @inventory_detail %> |
<%= link_to 'Back', inventory_details_path %>