<table class="tblNoBorder">	
	<tr>
		<td>
			<h1>Tình hình Xuất/Nhập</h1>
		</td>
	</tr>
	<% @exchange_details.each do |material_exchange| %>
		<tr>
			<td>
				<%= image_tag material_exchange.exchange_type == 0 ? "icon/import_material.png" : "icon/export_material.png" %>
				<font color="#666666">
					<%=  material_exchange.created_date.strftime("%H:%M") %>
				</font>
				<%= material_exchange.creator.username %>
				<%= material_exchange.exchange_type == 0 ? "nhập" : "xuất" %>						
				<%= material_exchange.size %> 
				<%= material_exchange.weight_unit.name %>
				ở kho	
				<%= link_to material_exchange.inventory.code, material_exchange.inventory %>
			</td>
		</tr>	
	<% end %>
</table>