<%= render :partial => "products/header"%>

<h1>Danh Sách Nguyên Liệu</h1>

<table>
  <tr>
    <th>Mã số</th>
    <th>Tên Nguyên Liệu</th>
  </tr>

<% @materials.each do |material| %>
  <tr>
    <td><%=h material.code %></td>
    <td><%=h material.name %></td>
    <td><%= link_to 'Show', material %></td>
    <td><%= link_to 'Edit', edit_material_path(material) %></td>
    <td><%= link_to 'Destroy', material, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Thêm Mới', new_material_path %>