<%= render :partial => "header"%>

<h1>Danh Sách Thành Phẩm</h1>

<table>
  <tr>
    <th>Mã Số</th>
    <th>Tên Thành Phẩm</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%=h product.code %></td>
    <td><%=h product.name %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Thêm Mới', new_product_path %>