<p>
  <b>Code:</b>
  <%=h @semi_product.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @semi_product.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @semi_product.description %>
</p>


<%= link_to 'Edit', edit_semi_product_path(@semi_product) %> |
<%= link_to 'Back', semi_products_path %>