<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>PIS Application</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
    <!-- Container -->
    <div>
    	<div>
    		<% if session[:username] %>
    		<div style="float: right; text-align: right">
    			Xin chào, <%= session[:username] %>! <br/>
				[<%= link_to "Đăng Xuất", logout_url %>]	
    		</div>
			<% end %>
    		<%= image_tag("pis_logo.png") %>			 
			[<%= link_to "Dashboard", root_url %>] -			
			[<%= link_to "Sản Xuất", inventories_url %>] -
			[<%= link_to "Thông Tin", products_url %>] -
			[Báo Cáo] -
			[<%= link_to "Hệ Thống", users_url %>]
			<hr/>
    	</div>
		<div>
			<%= yield  %>	
		</div>
		<div>
			<hr/>
			[Footer here]
		</div>
    </div>        
</body>
</html>
